[2019-10-08 12:50] mcshanea opened #1 "Performance"
One of the main expected problem areas we know we'll need to address is performance of the sitemaps at scale. This task is to research and document how current plugins are handling this problem.

## Detailed description

A single XML sitemap has a limit of 50MB (uncompressed) and 50,000 URLs. That means sitemaps for bigger sites need to be split up into multiple smaller ones in order to not exceed

[2019-10-08 12:52] mcshanea opened #2 "Turn On/Off"

[2019-10-08 12:55] mcshanea opened #3 "Index Sitemap"

[2019-10-08 13:03] mcshanea opened #4 "Internationalisation"
The XML Sitemaps will leverage standard internationalization functionality provided by WordPress core.

Since there are plans by WordPress leadership to officially support multilingual websites in WordPress, the XML Sitemaps will be flexible enough to list localized content in the future as per web development best practices.

[2019-10-10 02:26] mcshanea opened #5 "Review existing sitemap implementations"
Review the main implementations of sitemaps within the plugin ecosystem to determine recurring themes and help to define best practice.

### Acceptance Criteria
Report notable findings.
Consider Yoast, Google Sitemaps, and Jetpack.

[2019-10-10 02:28] mcshanea opened #6 "Document "quick start" development procedure for local environment"
As a person wanting to contribute to the project, I'd like to have an easy way to get the project set up locally so I can write code, test PRs, run unit tests and linting, etc.

## Acceptance criteria

- [x] Decide on an approach for local development
- [x] Add documentation for setting up the plugin locally (could specify Chassis or an alternative)

[2019-10-10 02:29] mcshanea opened #7 "Configure coding standards"

[2019-10-10 02:30] mcshanea opened #8 "Instantiate development environment on HM hosting"
As a person interested in testing/reviewing the plugin without needing to install it locally, I'd like to have a development environment available where I can see how sitemaps are being generated.

## Acceptance criteria

- [ ] TBD

[2019-10-14 13:54] svandragt commented on #5
Is there a reason why the msm sitemap is not considered, seeing as it's the one built for performance? https://github.com/Automattic/msm-sitemap

[2019-10-14 16:25] joemcgill commented on #5
@svandragt I don't think this was an intentional omission. I've included the msm-sitemap plugin in ones I've been looking at for prior art.

[2019-10-14 16:45] joemcgill commented on #6
I've updated the description here to outline what this ticket is trying to achieve. The real question is whether we want to include a local config that matches the development environment we are using while working on the plugin (i.e. a Chassis config) or if we want to only include written instructions that are environment agnostic.

The advantages of including a Chassis config is that we can scri

[2019-10-14 16:58] joemcgill commented on #8
I started stubbing out a description here. We'll need to decide if this is only for internal folks on our team to view or if we're wanting a site that is public. If the latter, we'll likely need some sort of vanity URL for this site.

[2019-10-15 10:01] kirstyburgoine opened #9 "Document how to contribute process"

[2019-10-15 14:42] joemcgill commented on #1
Another aspect of performance that we need to consider is not just how pagination of each sitemap type is handled, but how the main index gets generated. As explained in https://markjaquith.wordpress.com/2018/01/22/how-i-fixed-yoast-seo-sitemaps-on-a-large-wordpress-site/, if the generation of the sitemap index is dynamic, then it doesn't matter how performant each sitemap page is. We need to make

[2019-10-15 15:44] svandragt opened #11 "Add composer.json"
In order to use the plugin with the quickstart repository, we need to add a composer.json.

This is the minimum:
[code]
I found a quick reference on https://roots.io/wordpress-plugins-with-composer/

~Blocks #6 from installing via composer.~

[2019-10-15 16:57] svandragt opened #12 "Document branching strategy for community"
For this project we advocate a slightly simplified [Git Flow](https://datasift.github.io/gitflow/IntroducingGitFlow.html) approach, dropping the requirement for a "release" branch. We are not planning to use the specific git-flow plugin for git, but instead rely on a strict naming convention described below.

![Simplified _Git FLow_](https://user-images.githubusercontent.com/103192/66979510-693608

[2019-10-15 17:00] svandragt commented on #6
Alright  commited code to https://github.com/humanmade/core-sitemaps-quickstart/commits/master to setup a local dev environment. There's a readme file with full instructions which sets up a testing environment for integration and functional testing including a meta test which passes to confirm the testing environment.

@kirstyburgoine We  should discuss the readme as it may overlaps with #10 you m

[2019-10-16 11:51] svandragt commented on #11
Just thinking as we're working on the plugin it will be easier to checkout the repository.

[2019-10-16 12:06] svandragt commented on #6
https://github.com/humanmade/core-sitemaps-quickstart/pull/1 deals with setting up the plugin within the quickstart environment

[2019-10-16 12:09] svandragt commented on #6
![image](https://user-images.githubusercontent.com/594871/66917890-2576cc00-f016-11e9-8c5c-698efe86fbc3.png)

[2019-10-16 13:55] joemcgill commented on #6
Hey @svandragt, the setup you have going is looking pretty comprehensive. I'd like  to change directions a little bit, though, and include all of the config for setting up coding standards and unit/behavior testing in the main plugin repo rather than outside it, so that anyone can run sniffs/tests without needing to use our development environment.

I'd recommend having a quick-start process be on

[2019-10-16 18:06] joemcgill commented on #1
I've done some digging into several of the current plugins that provide sitemap functionality and here's a general set of details for what I've found.

===

## Jetpack

**Max URLs per sitemap:** 2,000
**Pagination strategy:** sequentially by post ID, regardless of type (mixed type)
**How are the queries generated:** Custom SELECT in `Jetpack_Sitemap_Librarian::query_posts_after_id()` (non-cached)

[2019-10-16 20:09] joemcgill commented on #6
Additionally, for our purposes, it's really helpful to include xhprof and xhprof_gui for performance profiling. My current suggestions for an extensions list would look like this:

[code]

This will profile each page request and provide helpful information at `http://project-url.local/xhgui/`

[2019-10-17 14:55] joemcgill commented on #1
Interestingly, Yoast did add caching functionality and then removed it here: https://github.com/Yoast/wordpress-seo/pull/11279. Would be interesting to better understand what problems people were running into.

[2019-10-18 14:10] svandragt commented on #6
Addressed the feedback in #15. Had to disable Chassis/chassis_openssl because chassis/chassis_xhgui is incompatible. Hoping to fix that upstream.

[2019-10-21 03:01] mcshanea opened #16 "Index Sitemap"
Sitemap index files (to group multiple sitemap files)

You can provide multiple Sitemap files, and they should be referenced by URL in a Sitemap index file. Sitemap index files may not list more than 50,000 Sitemaps and must be no larger than 50MB (52,428,800 bytes) and can be compressed. There will be one Sitemap index file. The XML format of a Sitemap index file is very similar to the XML format

[2019-10-21 03:03] mcshanea opened #17 "Pages Sitemap"
Following the same pattern as established by the Posts Sitemap #28, implement a sitemap surfacing published pages.

[2019-10-21 03:03] #3 closed

[2019-10-21 03:04] mcshanea opened #18 "Posts Sitemap"
The Sitemap must:

Begin with an opening <urlset> tag and end with a closing </urlset> tag.
Specify the namespace (protocol standard) within the <urlset> tag.
Include a <url> entry for each URL, as a parent XML tag.
Include a <loc> child entry for each <url> parent tag.

https://www.sitemaps.org/protocol.html

Implementation should be informed by performance considerations made previously in #1

S

[2019-10-21 03:04] mcshanea opened #19 "CPT Sitemap"
Include all custom post type posts, if they've been flagged as public.

Ability to remove certain post types from inclusion.

[2019-10-21 03:05] mcshanea opened #20 "Tags Sitemap"
List of tag archive pages.

[2019-10-21 03:06] mcshanea opened #21 "Categories Sitemap"
A list of category archive pages.

Should not list categories with no associated posts.

[2019-10-21 03:06] mcshanea opened #22 "Custom Taxonomies Sitemap"
As a person or machine consuming the WP XML sitemaps, I should see links to the archive pages for all registered taxonomies that are marked as `public`.

## Acceptance requirements

- [ ] For each taxonomy, a `url` entry should be included for each term which contains a published public post.
- [ ] Each `url` entry should include a `loc` child entry containing the URL for that term's archive page

[2019-10-21 03:07] mcshanea opened #23 "Users Sitemap"
Sitemap to list each author archive pages within WordPress. Should only be generated for those authors with at least 1 published post.

[2019-10-21 05:54] mcshanea opened #24 "Robots.txt file exposed will reference the sitemap index"
The robots.txt file exposed by WordPress will reference the sitemap index.

It should honour the primary site visibility setting.

[2019-10-21 07:24] mcshanea opened #25 "Sitemaps API"
An XML Sitemaps API will be introduced as part of the integration allowing extensibility. At a high level, below is a list of the ways the XML Sitemaps may be manipulated via the API:

- [x] Add extra sitemaps and sitemap entries
- [x] Add extra attributes to sitemap entries
- [x] Provide a custom XML Stylesheet
- [x] Exclude a specific post type from the sitemap
- [x] Exclude a specific post from

[2019-10-21 07:29] mcshanea commented on #18
Question: is it the responsibility of the plugin to verify all included URL's respond with a 200 http response?

[2019-10-21 09:31] swissspidy commented on #18
That sounds like too much hand-holding for me.

Especially with extensibility (#25) in mind, it doesn't make sense to verify all included URLs. And I don't think any of the existing sitemap plugins do this.

[2019-10-22 12:36] #6 closed, assigned to svandragt

[2019-10-22 12:36] #7 closed, assigned to nobody

[2019-10-22 12:37] #11 closed, assigned to svandragt

[2019-10-23 05:30] mcshanea opened #27 "Sitemap Priority"
### Description

The <priority> tag is used in XML sitemaps, by the webmaster, to signal the importance of individual pages in the website to Google and other search engines.

The priority of this URL relative to other URLs on your site. Valid values range from 0.0 to 1.0. This value does not affect how your pages are compared to pages on other sites—it only lets the search engines know which page

[2019-10-30 09:55] kirstyburgoine opened #35 "List sitemap URLs on index"
### Description

**Which feature is your enhancement request related to?**
https://github.com/GoogleChromeLabs/wp-sitemaps/issues/16

**Describe the solution you'd like**
A follow on from creating the base skeleton for the sitemaps index to display the list of sitemaps in the index.

The Sitemap index may not list more than 50,000 Sitemaps and must be no larger than 50MB (52,428,800 bytes) and can

[2019-10-30 10:02] svandragt opened #36 "Main Class"
We need to have discuss an approach where sitemap providers can register themselves without adding any code to other classes, this is where potentially a Core_Sitemap class is needed, and is making development of additional Sitemap Providers more difficult, so that would be a good next task.

### Draft acceptance criterea

- [x] Sitemap provider registers an instance of itself without adding any c

[2019-10-30 15:27] svandragt opened #37 "Sitemap Rendering Class"
### Description
Instead of rendering the data with a class method within the sitemap provider (SP),  we would like to have a sitemap renderer class which would take uniform sitemap data and render out the xml (applying XSL styling is out of scope of this ticket).

**Is your enhancement request related to a problem? Please describe.**
Each sitemap provider is implementing the sitemap protocol and r

[2019-10-31 11:13] svandragt opened #39 "Implement a performant handling of sitemap pages"
### Description
A performant scalable way of assigning posts of all registered content types to sitemap pages and processing updates / deletions.

A sitemap page is a sitemap linked from the index containing a subset of posts. A post is a piece of content with any registered post type.

**Which feature is your enhancement request related to?**
#31

**Describe the solution you'd like**
WIP

### Acc

[2019-10-31 11:23] svandragt commented on #39
v3

"Supporting 50k/(26*26) = 76 post-types. Scales up to 26*26*2000 = 1.3 million posts per post-type."

- md5 of post type and id
- $length = 1 (26 pages, max length is 2)
- for each post
  - page-id is post_type + strleft($hash, $length)
  - assign post to page.
  - if page -post-count >= 2000-(26*$length)
    - $length++

[2019-11-01 10:57] #18 closed, assigned to svandragt

[2019-11-01 11:48] kirstyburgoine commented on #25
MAking a note so I don't forget later. One filter to potentially add is the ability to change the url of the sitemap index. For example, in Pascal's POC, this is added as part of the method to build the sitemap index URL for use in robots.txt:

[code]

lines 58 - 68 in `sitemap-poc/includes/functions.php`

[2019-11-04 13:41] kirstyburgoine opened #43 "Timezone support"
### Description

**Which feature is your enhancement request related to?**
https://github.com/GoogleChromeLabs/wp-sitemaps/issues/35 but affects all sitemaps.

**Describe the solution you'd like**
Each sitemap needs to have a `<lastmod>` date listed on the sitemap's index. Current thinking on how to approach this is:

https://hmn.slack.com/archives/CNVN3ERGV/p1572873401010900

The timezone for eac

[2019-11-05 11:57] swissspidy commented on #27
Just like `changefreq`, we should not add `priority` by default as it's not really used by search engines. That's why other plugins like Yoast SEO don't implement it either.

Sitemap entries can be filterable, so if someone really wants to have these fields, they could implement it themselves.

[2019-11-05 14:45] svandragt opened #44 "Registry / Main Class discussion"
I've been thinking about this as well. I definitely think the registry could be a part of the main Sitemaps class. Let's do this in a separate issue to avoid rabbit holing for now.

_Originally posted by @joemcgill in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/42#issuecomment-549842666_

[2019-11-05 14:52] svandragt opened #45 "Index / PT Provider relationship"
Progress the difference (if any) between post-type and names and whether the index should derive from the same class.

What are the use cases for each and does there need to be a difference? Does Index derive from the Provider class?

_Originally posted by @svandragt in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/42/review_comment/create_

[2019-11-06 08:31] svandragt commented on #39
Blocked until the technical doc is updated with @joemcgill and @swissspidy thoughts.

[2019-11-06 13:43] #37 closed, assigned to svandragt

[2019-11-06 14:19] svandragt opened #48 "Combine post type sitemaps"
### Description
Code for all post type sitemaps is very similar, so they can be combined into one class.

**Which feature is your enhancement request related to?**
#18 #17 #19

**Describe the solution you'd like**
Loop through  system post types linked above and cpt then create sitemaps for each.

### Acceptance Criteria
Add the relevant acceptance criteria here.
- [] all acceptance critera of 17-

[2019-11-06 14:41] kirstyburgoine opened #49 "Combine taxonomies sitemaps"
### Description

**Which feature is your enhancement request related to?**
#20 #21 #22

**Describe the solution you'd like**
Create sitemaps for each type of term but using one class to do.

### Acceptance Criteria
Add the relevant acceptance criteria here.
- [ ] All criteria for #20, #21, #22

[2019-11-06 15:29] swissspidy commented on #48
We most likely want to still split up sitemaps of the `post` object type by the respective sub types (post, page, etc.). So the URLs and stuff would need to reflect that.

[2019-11-06 15:39] swissspidy commented on #45
The functionality for the sitemap index and the individual sitemaps is currently heavily intertwined in various places. There are always some special checks for processing a sitemap with the name "index". This is a strong indicator that there should definitely be some separation of concerns as these are two different things with different features).

These special checks also prevent anyone from h

[2019-11-06 16:21] joemcgill commented on #48
Ideally, we're going to end up with three main providers for core, which support the following object types:

1. Post Objects (i.e., posts, pages, CPTs)
2. Taxonomies (i.e., categories, tags, custom Taxonomies)
3. Users (i.e., authors)

Each object provider should include the ability to support multiple sub-types, so combining these two post types into a single provider should set up the architect

[2019-11-06 17:01] joemcgill commented on #44
For now, I think it's ok to leave the registry as it's own class as an architectural decision, but it should be saved as a property of the main `Core_Sitemaps` object so that any code that is integrating with the sitemaps can access the registry without passing it around as a dependency.

Right now, we've got an established pattern where each object type provider is being passed the registry in or

[2019-11-08 14:35] #44 closed, assigned to joemcgill

[2019-11-08 14:54] svandragt opened #54 "Private posts / attachments?"
We should open an issue to discuss this a bit more in detail:

* What about private posts
* What about attachments (`inherit` post status)

View:
- Attachments can be added by a developer adding in an attachment provider.
- We're reviewing the codebase to review being able to filter the post status part of the query by a developer.

_Originally posted by @swissspidy in https://github.com/GoogleChr

[2019-11-08 15:06] #23 closed, assigned to joemcgill

[2019-11-11 23:04] joemcgill commented on #39
Thanks for kicking off this discussion, @svandragt.

If I'm understanding your above description correctly, you're exploring the idea of a hash lookup table where we would automatically create sitemap/buckets for evenly distributing a large number of URLs into groups where we could quickly look up the location of each object based on some deterministic algorithm (in this case, based on object type

[2019-11-11 23:16] joemcgill commented on #49
I think we can handle this specifically via #22 and #20, so am going to close this ticket as redundant.

[2019-11-11 23:16] #49 closed, assigned to kirstyburgoine

[2019-11-11 23:18] joemcgill commented on #20
This should use the same architecture as #21 and would be good to support #22 at the same time, rather than implementing each of these as separate pieces. Let's prioritize #22 and ensure that in doing so, we've added support for tags to the sitemap.

[2019-11-11 23:43] joemcgill commented on #22
I've updated the issue description with more specific details on how to implement this in a way that should close #20 as well.

[2019-11-12 11:48] svandragt opened #57 "Sitemaps without data should return 404"
[Updated by @joemcgill on 2019/11/18]

When viewing a sitemap page that doesn't include any URLs, the system should return a 404.

Currently, if you manually change the URL of a sitemap so that the page number is larger than what the system has generated, you will see a sitemap page with no entries. Instead, should we return a 404 or some other kind of error response to indicate that you've reques

[2019-11-12 15:37] joemcgill commented on #27
Closing based on @swissspidy's comment above.

[2019-11-12 15:37] #27 closed, assigned to nobody

[2019-11-12 16:15] joemcgill opened #60 "`lastmod` entry for sitemaps are hard coded in the index."
**Describe the bug**
Each sitemap in the index should contain a `lastmod` entry that shows when that sitemap was last modified. However, this value is currently hard coded in `Core_Sitemaps_Renderer::render_index()` and never updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /sitemap.xml
2. Notice that all sitemaps have the same `lastmod` date.

**Expected behavior**
The `lastmo

[2019-11-13 10:22] svandragt commented on #45
Addressed via #51

Summarized:
- Access providers via the registry, not the main class.
- The providers don't have to know about the registry.

[2019-11-13 13:38] joemcgill opened #67 "Add an XML Stylesheet (XSL file)"
### Description

One of the project goals states that developers should be able to provide a custom XML Stylesheet (XSL File). In order to provide this functionality, we should add a default XSL file that can be overridden by plugins or themes.

### Acceptance Criteria

The basic file should display the following:

- [ ] An H1 with text, "XML Sitemap"
- [ ] A description paragraph: "This XML Sitem

[2019-11-13 13:43] svandragt commented on #54
- Attachments can be added by a developer adding in an attachment provider.
- We're reviewing the codebase to review being able to filter the post status part of the query.

[2019-11-13 13:49] joemcgill commented on #9
This is closed by #10

[2019-11-13 13:49] #9 closed, assigned to kirstyburgoine

[2019-11-13 13:50] joemcgill commented on #36
Closed by #42.

[2019-11-13 13:50] #36 closed, assigned to svandragt

[2019-11-14 14:05] #19 closed, assigned to svandragt

[2019-11-14 14:05] #48 closed, assigned to svandragt

[2019-11-14 21:16] joemcgill commented on #22
Addressed by #62.

[2019-11-14 21:16] #22 closed, assigned to kirstyburgoine

[2019-11-14 22:24] joemcgill commented on #67
Examples to look at:

- Yoast has [a method that outputs the XSL sheet](https://github.com/Yoast/wordpress-seo/blob/trunk/inc/sitemaps/class-sitemaps.php#L408-L439) which includes an [XSL template file](https://github.com/Yoast/wordpress-seo/blob/trunk/css/main-sitemap.xsl).
- Jetpack catches [the request during routing](https://github.com/Automattic/jetpack/blob/master/modules/sitemaps/sitemaps.p

[2019-11-14 22:35] joemcgill opened #71 "Index doesn't include all sitemap URLs from providers"
**Describe the bug**
Currently, the sitemap index displays URLs for each sitemap provider, but not the actual sitemaps that each provider produces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /sitemap.xml
2. See the following output:

[code]

**Expected behavior**
Instead, the sitemap index should display one sitemap entry for every public post type page, taxonomy term page, and us

[2019-11-14 22:38] joemcgill commented on #71
Fixing lastmod behavior is already covered in #60 and can be ignored in this ticket.

For relevant discussion about this ticket, see https://github.com/GoogleChromeLabs/wp-sitemaps/pull/68#issuecomment-553606976

[2019-11-14 22:51] joemcgill commented on #5
Research from this spike was documented in https://github.com/GoogleChromeLabs/wp-sitemaps/issues/1#issuecomment-542823748.

[2019-11-14 22:51] #5 closed, assigned to nobody

[2019-11-14 22:57] joemcgill commented on #1
We've been working on [a detailed design document](https://docs.google.com/document/d/1ZbXJQ_NX6cA-hH9i9e2YLHY0o8EUgCWDAIBt3kGpSlU/edit?usp=sharing) that describes our approach to pagination, along with detailed implementation ideas for a caching mechanism, which may turn out to be required for this to work at scale.

The next steps here are to agree on the approach and refine the document that we

[2019-11-14 22:58] joemcgill commented on #24
Closed by #34.

[2019-11-14 22:58] #24 closed, assigned to kirstyburgoine

[2019-11-14 22:59] joemcgill commented on #17
Initially closed by #41.

[2019-11-14 22:59] #17 closed, assigned to svandragt

[2019-11-14 23:00] joemcgill commented on #16
Initial work closed by #38. New issues are being created for follow-up work, like #60 and #71

[2019-11-14 23:01] #16 closed, assigned to kirstyburgoine

[2019-11-14 23:04] joemcgill commented on #45
@svandragt with #51 merged and new work being picked up in #71 (as a spinoff from #68), can this issue be closed?

[2019-11-14 23:05] joemcgill commented on #20
This was fixed by #62.

[2019-11-14 23:05] #20 closed, assigned to nobody

[2019-11-14 23:08] joemcgill commented on #39
I've started on a proof of concept in #64 based on a more fleshed out description detailed on the (still in progress) [design document](https://docs.google.com/document/d/1ZbXJQ_NX6cA-hH9i9e2YLHY0o8EUgCWDAIBt3kGpSlU/edit#) from #11.

[2019-11-14 23:17] joemcgill commented on #4
@ThierryA the [project proposal](https://make.wordpress.org/core/2019/06/12/xml-sitemaps-feature-project-proposal/) includes a section on i18n, but doesn't go into specifics. For the purposes of the initial project, do we have any more specific requirements given that future plans for supporting multilingual sites are not yet fleshed out at a project level?

I assume that we are ensuring that all

[2019-11-14 23:21] joemcgill commented on #21
This was closed by #49.

[2019-11-14 23:21] #21 closed, assigned to kirstyburgoine

[2019-11-15 11:07] ThierryA commented on #4
Correct, as for today I don't seen anything else to do when it comes to Internationalisation.

[2019-11-15 18:40] svandragt opened #73 "optimize max_num_pages"
we should explore ways of doing this more performantly than querying the first page for each subtype.

_Originally posted by @joemcgill in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/72/files_

[2019-11-15 19:31] joemcgill commented on #71
Blocked by #72.

[2019-11-15 19:33] joemcgill commented on #60
Blocked by #71.

[2019-11-15 19:35] joemcgill commented on #4
Thanks for confirming. Going to close this ticket since it's purpose was requirements gathering.

[2019-11-15 19:35] #4 closed, assigned to nobody

[2019-11-16 18:38] joemcgill opened #74 "Make max urls per sitemap filterable"
### Description

**Which feature is your enhancement request related to?**
All sitemaps.

**Describe the solution you'd like**
Currently, the max amount of URLs included in a sitemap are controlled by the `CORE_SITEMAPS_POSTS_PER_PAGE` constant, which gets referenced throughout the code, but particularly in each provider's `get_url_list()` function to limit object queries to a maximum number of re

[2019-11-18 17:20] #71 closed, assigned to svandragt

[2019-11-18 19:33] kirstyburgoine opened #77 "Make CSS for XSL file filterable"
### Description

**Which feature is your enhancement request related to?**
https://github.com/GoogleChromeLabs/wp-sitemaps/issues/67

**Describe the solution you'd like**
This a suggested further enhancement to the XSL stylesheet to allow either the entire XSL file to be filtered out or only the CSS used.

**Additional context**
Add any other context or screenshots about the enhancement request he

[2019-11-18 22:12] joemcgill commented on #74
@svandragt brought up the point on our call today that we could also allow this constant to be set in `wp-config.php` by checking for `if ( ! defined() )` before setting this constant.

We should allow for that as well, so I'm going to add that as criteria, but would also be good for people to be able to filter this value for specific circumstances without overriding all values, e.g., filtering th

[2019-11-18 22:33] joemcgill commented on #57
I've updated the description to give more detail about what the current behavior is. I think the current behavior is ok for now, but a more precise handling might be useful, particularly if there are any implications for web crawlers.

@swissspidy or @ThierryA, do you have any input on this?

[2019-11-18 22:58] joemcgill opened #78 "Index not showing paged URLs for taxonomies or users."
**Describe the bug**
Following #72, the sitemap index now automatically shows all available sitemap pages for post types. However, it's not showing available sitemap pages for taxonomies, even when they're available.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate > 2000 categories and add each of them to a post (I know 😫)
2. Visit the sitemap index page.
3. See that a sitemap for `

[2019-11-18 23:15] joemcgill opened #79 "Question: Remove support for `post_format` taxonomy type?"
**Describe the bug**
After #72, I noticed that the sitemap includes pages for the `post_format` taxonomy type, and the sitemap for that taxonomy type looks like this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Import the [WP Theme Unit Test](https://codex.wordpress.org/Theme_Unit_Test) data or something similar to get posts that are set up for post formats.
1. Make use of a them

[2019-11-18 23:18] joemcgill commented on #73
A good first step here would be to evaluate the methods for each sitemap provider and document what the specific performance issues exist that we can improve.

[2019-11-19 13:20] ThierryA commented on #57
Curious to hear how Jetpack and Yoast are handling that?

[2019-11-19 15:18] joemcgill commented on #57
Jetpack returns an XML file that looks like this:

[code]

Yoast returns a 404.

[2019-11-19 15:27] ThierryA commented on #57
Great, let's no re-invent the wheel on this one, 404 STGM 👍 (never though I would ever say a 404 sounds good :joy:)

[2019-11-19 16:12] joemcgill opened #80 "Add blog homepage to the index sitemap."
### Description

[TK full description]

When the front page is a blog index, it should be included in the sitemap index or should be included on the first page of the pages sitemap.

**Describe the solution you'd like**
A clear and concise description of what the enhancement is and what you want to happen.

**Additional context**
Let's review how other plugins are handling this.

### Acceptance Cr

[2019-11-19 16:15] joemcgill opened #81 "Add unit tests for base functionality"
### Description

We should include base unit test coverage for all of the following functionality:

XML Sitemaps will be enabled by default making the following content types indexable

- Homepage
- Posts page
- Core Post Types (Pages and Posts)
- Custom Post Types
- Core Taxonomies (Tags and Categories)
- Custom Taxonomies
- Users (Authors)

Additionally, the robots.txt file exposed by WordPress

[2019-11-19 16:22] joemcgill commented on #12
@mcshanea let's confirm that this is the approach we want to take and get this added to our README documentation before closing.

[2019-11-19 16:42] joemcgill commented on #60
There are two possible approaches that we could take here.

1. Pass an associative array into `Core_Sitemaps_Renderer::render_index()` which includes both the loc and lastmod data.
2. Create a new method in the renderer called `get_sitemap_last_modified_date()` which works like `get_sitemap_url()` by taking a slug and returning the last modified date.

[2019-11-19 16:51] joemcgill commented on #73
Let's spike this out during the next sprint with the goal being to gather research results on what the performance impact is of calculating the max number of pages for each sitemap provider and determine if there are better approaches that could be implemented.

[2019-11-19 17:16] joemcgill commented on #25
First step here is to review what is already in place and generate tickets for anything that isn't already covered.

[2019-11-19 22:45] joemcgill commented on #78
Now that I've gotten #74 working via #82 (in review), I can confirm that this is also a problem for users. I think it makes sense to handle both cases in this ticket rather than opening a new ticket since the solution for both is probably similar, if not identical.

Once #82 lands, an easier way to test this is to filter `core_sitemaps_max_urls` (see the example in #82) so you don't have to genera

[2019-11-20 14:54] #74 closed, assigned to joemcgill

[2019-11-21 13:09] kirstyburgoine commented on #79
When working on the taxonomies sitemaps, I made the decision to leave these in because they are core functionality. I don't know how well they are used, but as they are a part of core WordPress, I thought it better to leave them in and allow developers to filter them out rather than adding specific functionality to not support them.

[2019-11-21 14:38] joemcgill commented on #79
Thanks @kirstyburgoine. They do seem like a valid taxonomy type to include. Let's go ahead and resolve this issue by agreeing that including the `post_format` taxonomy in sitemaps is expected behavior. We can always reopen this ticket later pending more feedback.

[2019-11-21 14:38] #79 closed, assigned to nobody

[2019-11-21 14:41] #57 closed, assigned to joemcgill

[2019-11-21 14:56] #78 closed, assigned to joemcgill

[2019-11-21 18:59] kirstyburgoine commented on #77
This has been addressed as part of PR https://github.com/GoogleChromeLabs/wp-sitemaps/pull/75

[2019-11-21 22:41] joemcgill commented on #25
I've gone through the list and most of these are already in place, but just need to have the filters documented and unit test coverage added.

## To be implemented

- [x] Add extra sitemaps and sitemap entries
- [x] Add extra attributes to sitemap entries

## Already implemented

The following extensibility options already exist but need documentation and unit test coverage.

**Provide a custom XM

[2019-11-21 22:52] joemcgill opened #86 "Add user documentation and test coverage for available filters."
### Description

This task is related to #25.

**Describe the solution you'd like**

For all of the implemented extensible features outlined in https://github.com/GoogleChromeLabs/wp-sitemaps/issues/25#issuecomment-557305334, we should add user documentation that shows examples of how someone would use each of the provided filters, and add test coverage to assure these filters continue working as

[2019-11-21 23:07] joemcgill opened #87 "Add extra sitemaps and sitemap entries"
### Description

As a person or plugin extending the base functionality, I should be able to add extra sitemaps and sitemap entries by registering a sitemap with the system.

This relates to #25.

**Describe the solution you'd like**

There should be a single, globally available function like `core_sitemaps_add_sitemap()` that allows me to register a new sitemap provider or similar properties and

[2019-11-21 23:20] joemcgill opened #88 "Add extra attributes to sitemap entries"
### Description

**Which feature is your enhancement request related to?**
This is related to #25.

**Describe the solution you'd like**
As a person or plugin extending the sitemaps functionality, I want to be able to add extra attributes to sitemap entries to provide additional data to web crawlers.

A few possible solutions:

1. hook into the existing `core_sitemaps_{object_type}_url_list` filte

[2019-11-21 23:23] joemcgill commented on #25
I've split the remaining work for this ticket into three new tasks (#86, #87, #88) so they can be estimated and worked on in parallel.

For the purposes of the Spike ticket in Sprint 3, this is now done, but we'll leave this open as a tracking ticket until all three sub-tasks are completed.

[2019-11-22 11:59] kirstyburgoine commented on #25
Just adding a note, that for **Provide a custom XML Stylesheet** there are also the following filters:
- `core_sitemaps_stylesheet_url`
- `core_sitemaps_stylesheet_index_url`

These can be found in `Core_Sitemaps_Renderer`. However, the intention of these filters were to allow developers to replace the URL of the xsl file being directly linked to in the xml. As the implementation has changed and w

[2019-11-27 11:50] RuxandraGradina commented on #25
@joemcgill please provide the input on the progress we've made so far and what's the outstanding work we need to do for V1 completion.

[2019-11-27 15:47] joemcgill commented on #25
@RuxandraGradina all of that info is documented above in https://github.com/GoogleChromeLabs/wp-sitemaps/issues/25#issuecomment-557305334 and https://github.com/GoogleChromeLabs/wp-sitemaps/issues/25#issuecomment-557317451.

[2019-12-09 23:52] joemcgill opened #91 "Clarify variable/property names"
### Description

**Which feature is your enhancement request related to?**
Sitemap providers

**Describe the solution you'd like**
There are several places throughout the codebase where the verbiage around type, subtype, slug, object type, etc. is unclear, leading to function signatures where methods are expecting values like `$name` which are actually referring to the object type or subtype. This

[2019-12-12 14:00] #60 closed, assigned to joemcgill

[2019-12-13 23:04] joemcgill commented on #73
Now that #90 has landed, there are less performance concerns, since `max_num_pages()` are only calculated once, when rendering the index, and not when sitemaps are registered. I've opened a small bugfix (#92) while investigating the performance of these methods, but I think this particular issue can now be closed.

[2019-12-13 23:04] #73 closed, assigned to nobody

[2020-01-04 17:12] joemcgill commented on #80
Fixed by #89.

[2020-01-04 17:12] #80 closed, assigned to joemcgill

[2020-01-06 13:49] swissspidy opened #99 "Run tests against PHP 7.4"
### Description

**Which feature is your enhancement request related to?**

WordPress supports the latest and greatest version of PHP, PHP 7.4. We need to make sure sitemaps work fine in that context.

**Describe the solution you'd like**

Tests on Travis should run against PHP 7.4. This mostly means making sure the correct version of PHPUnit is being used.

### Acceptance Criteria

- [ ] Tests ru

[2020-01-13 13:40] #88 closed, assigned to nobody

[2020-01-17 16:05] joemcgill opened #103 "Add helper function for getting all sitemaps for the index."
### Description

**Which feature is your enhancement request related to?**
This is a follow-up to #102.

**Describe the solution you'd like**
The implementation for gathering all sitemap entries for the sitemap index is implemented procedurally within the `Core_Sitemaps_Index::render_index()` method, and repeated in the `_get_sitemap_entries()` helper method in the PHPUnit tests.

At present, we'v

[2020-01-17 17:14] joemcgill commented on #87
The most straightforward initial approach at this functionality is to create a function that allows additional providers to be registered with the system.

Long-term, it would be nice to create a functional approach that allowed people to register sitemaps without needing to extend the `Core_Sitemaps_Provider` object directly. To do so would require a bit of refactoring of the system to distill th

[2020-01-23 17:34] #87 closed, assigned to nobody

[2020-01-27 14:38] joemcgill opened #107 "Update contributors list."
### Description

Update the readme file with the full list of contributors. and their WordPress.org.

**Describe the solution you'd like**
We want to make sure everyone who worked on the project receives credit for their work — including the important non-code-related work that was involved.

Current list includes: Sander van Dragt, Kirsty Burgoine, Adrian McSean, Ruxandra Gradina, Joe McGill, Thi

[2020-01-27 17:15] swissspidy commented on #107
This is for the `readme.txt` _and_ `readme.md`, right?

[2020-01-27 17:16] chetansatasiya commented on #107
@joemcgill @swissspidy  I am not sure about other guys so didn't add that.

@swissspidy I updated the both one.

[2020-01-27 18:14] lukecav opened #110 "Add WP-CLI support to force sitemap generation"
Include WP-CLI support in order to be able to force sitemap generation to run.

[2020-01-27 22:01] peterwilsoncc opened #111 "Disable sitemap generation if site is private."
### Description

Currently the site map reference is not added to `robots.txt` if `! get_option( 'blog_public' )`. In such cases, it may be better to bypass sitemap generation in its entirety.

Pros:
* Sitemap will not instruct search engines to visit pages with `noindex` meta tags
* Less work for the server

Cons:
* Upon setting the blog to public, the sitemap will not exist

**Which feature is y

[2020-01-27 22:29] joemcgill commented on #111
Good suggestion, @peterwilsoncc. Since this is proposed to be a public standard, it makes sense that people would not simply be able to type in the URL for the sitemap to see the contents of the site, even when not exposed by the robots.txt file.

[2020-01-27 22:31] joemcgill commented on #110
Great idea. I'd probably leave this to the WP-CLI project to implement and ensure that this plugin has the necessary public API necessary for CLI commands to be supported.

[2020-01-28 15:49] lukecav commented on #110
@joemcgill

Okay will do.

[2020-01-28 15:49] #110 closed, assigned to nobody

[2020-01-30 11:10] tangrufus opened #115 "Extract `Core_Sitemaps_Provider` interface"
### Description

**Describe the solution you'd like**

Extract `Core_Sitemaps_Provider` interface.

**Additional context**

Currently, custom providers must `extends Core_Sitemaps_Provider`:

https://github.com/GoogleChromeLabs/wp-sitemaps/blob/69f665dc208fdf07111ed2c9e271a067d382378c/inc/class-core-sitemaps-registry.php#L31-L33

To extract the interface, we need to turn properity accesses (`$prov

[2020-01-30 16:21] joemcgill commented on #115
Hi @TangRufus. Thanks for the suggestion! I agree that the `Core_Sitemaps_Provider` class is very well suited to be converted to a PHP interface or trait, rather than a parent class.

At present, WordPress Core doesn't make use of interfaces anywhere in the codebase, which is why we had not introduced them here. However, this might be a great opportunity to do so.

[2020-01-30 17:34] swissspidy commented on #115
Perhaps we can ask for some feedback on introducing interfaces in #core-php

[2020-01-31 07:50] scrobbleme commented on #115
Just a note: if there is no real need to extract an interface, it shouldn't be done.
In this case you may extract an interface, implement a [abstact] class, and others are confused as they basically don't know what to implement.

Generelly, as WordPress is providing hooks anywhere, it is propably never necessary to implement a specific interface/class, which may be the reason, there are not interf

[2020-02-01 02:09] sybrew commented on #1
Here are some details of the sitemap in [The SEO Framework](https://wordpress.org/plugins/autodescription/) plugin, might that be useful:

- [Sitemap bridge bootstrap](https://github.com/sybrew/the-seo-framework/blob/master/inc/classes/bridges/sitemap.class.php)
   * **Notes:**
      * Is decoupled from WP Rewrite to improve performance and mitigate instability of rewrite rules flushing.
      * H

[2020-02-01 21:33] chesio opened #116 "Support custom taxonomies of attachment post type"
### Description

**Which feature is your enhancement request related to?**
#22

**Describe the solution you'd like**
Custom taxonomies of attachment post type should be supported (at least through filter).

**Additional context**
Currently, fetching `last_mod` date for custom taxonomies of attachment post type fails and generates PHP notices like:
[code]

I believe the problem is that the `get_pos

[2020-02-02 10:04] chesio commented on #116
I just realized that attachments are excluded from sitemap by default, so perhaps proper solution here would be to exclude custom taxonomies of attachment post type as well.

[2020-02-04 14:49] johnbillion opened #122 "Clarify the SimpleXML dependency"
### Description

**Is your task request related to a problem? Please describe.**

WordPress core uses SimpleXML, but it's not a required extension. For example, code such as `class_exists( 'SimpleXMLElement' )` can be found in several places in core.

The Core Sitemaps plugin declares `ext-simplexml` as a dependency.

**Describe the solution you'd like**

Prior to any merge proposal with core, it

[2020-02-07 17:30] joemcgill commented on #81
All base functionality now has unit tests in place so this can be closed.

[2020-02-07 17:30] #81 closed, assigned to joemcgill

[2020-02-07 17:32] joemcgill commented on #25
Each part of the API has been implemented with the completion of #87 and #88. All base functionality has unit test coverage as of #81.

Additional test coverage would be useful for these specific use cases and could be handled in #86. User documentation could also be handled in that ticket or split out into a separate ticket:

- Provide a custom XML Stylesheet
- Exclude a specific post type from t

[2020-02-07 17:34] joemcgill commented on #86
Additional test coverage for the following use cases would be useful:

- [ ] Provide a custom XML Stylesheet
- [ ] Exclude a specific post type from the sitemap
- [ ] Exclude a specific post from the sitemap
- [ ] Exclude a specific taxonomy from the sitemap
- [ ] Exclude a specific term from the sitemap
- [ ] Exclude a specific author from the sitemap
- [ ] Exclude a specific authors with a speci

[2020-02-07 20:56] lukecav opened #123 "Filter to disable XML Sitemaps feature"
If there is not one make sure there is a filter that can be used to disable the XML sitemaps feature.

[2020-02-17 13:23] ThierryA commented on #25
@joemcgill can this be marked as done?

[2020-02-18 08:53] svandragt commented on #86
This will be taken forward in a separate discussion, I will leave it open for the future.

[2020-02-18 08:53] svandragt commented on #25
This can be closed as the work originally agreed has been completed.

[2020-02-18 08:53] #25 closed, assigned to joemcgill

[2020-02-18 12:44] #107 closed, assigned to nobody

[2020-02-18 12:44] #77 closed, assigned to kirstyburgoine

[2020-02-18 12:45] swissspidy commented on #2
Closing in favor of #123

[2020-02-18 12:45] #2 closed, assigned to nobody

[2020-02-18 15:08] tangrufus commented on #123
Do we need anything more than `remove_action( 'init', 'core_sitemaps_get_server' );`?

See: https://github.com/GoogleChromeLabs/wp-sitemaps/blob/1b5fb5b4f0a2fb52952b4c945ae17062769ddb80/core-sitemaps.php#L49

[2020-02-18 15:27] joemcgill opened #126 "Add FAQs to the Readme"
### Description

As common questions come up we should capture them in a FAQ on the Readme. Some recent examples from our first Slack meeting include:

- Does this plugin support `changefreq` and `priority` attributes for sitemaps?
- Does the plugin support archive pages for tags, categories, and taxonomies?
- Does the plugin support date based archive pages?
- How easily can you add/remove suppor

[2020-02-18 16:25] svandragt commented on #123
Maybe a check in `functions.php` to prevent the functions being available if the feature isn't hooked in.

[2020-02-18 22:52] pbiron opened #127 "Index the $url_list arrays by the ID (or term_id) if the items in the array"
### Description

The `core_sitemaps_posts_url_list`, `core_sitemaps_users_url_list` and `core_sitemaps_taxonomies_url_list` filters can be used to exclude specific posts, users and terms from the sitemap, but doing so is harder (and more expensive) than it should be.

**Describe the solution you'd like**

The arrays passed to these filters should be indexed by the `ID` (or `term_id`) of the items

[2020-02-19 09:35] pfefferle opened #128 "prefix sitemap(-*).xml to wp-sitemap(-*).xml"
### Description

To prevent collisions with existing plugins, we discussed to rename the `sitemap(-*).xml` to `wp-sitemap(-*).xml`.

The file-name(s) should be also filterable, to help other plugins, that use the new core feature, to be consistent.

[2020-02-20 11:02] swissspidy commented on #127
For **removing** entries one might be better off filtering the `WP_Query` instead of doing this.

Yes, it looks easy at first glance, and is faster, but is impractical if you wanna exclude many posts, or if someone doesn't index their entries when adding them. So if someone does something like this:

[code]

This could cause some troubles...

Example:

[code]

[2020-02-22 18:47] tangrufus commented on #123
So, something like this?

[code]

Question: Which hook should be using?
We want it to be before `init` and late enough for other plugins to filter `$is_enable`.

[2020-02-24 11:20] swissspidy opened #131 "Add filter to modify WP_Query arguments"
### Description

Similar to what's suggested in https://wordpress.slack.com/archives/CTKTGNJJW/p1582058607135400, it might be easier to include/exclude to be able to adjust the `WP_Query` instance instead of having to rely on the `core_sitemaps_*_url_list` filters.

If you want to exclude a lot of posts from the sitemap, it's better to not query the DB for them in the first place.

**Describe the

[2020-02-24 11:24] swissspidy opened #132 "Flush rewrite rules upon plugin (de)activation"
As mentioned on Slack, we might need to flush rewrite rules using `flush_rewrite_rules( false )` upon plugin activation and deactivation to prevent potential issues with rewrites and other plugins.

Related: #128

[2020-02-24 11:41] swissspidy opened #133 "Consider removing lastmod field"
As discussed on Slack last week, calculating the last modified date for terms is rather difficult and computationally expensive in WordPress. Given that sitemaps are first and foremost a discovery mechanism for content, having this data is not necessarily required.

We should explore omitting this functionality, either completely or only for certain providers.

[2020-02-24 15:51] pbiron commented on #131
Thanx for opening this issue, I've been meaning to do so, but other things got int the way.

As mentioned in Slack, I would prefer a `filter` on the args passed to the query objects, but that is just a preference and this would work as well.

What you suggest would be analogous to core's existing `parse_query` (for WP_Query) and `pre_user_query` (for WP_User_Query) actions.

[2020-02-24 17:48] #126 closed, assigned to nobody

[2020-02-24 18:15] swissspidy commented on #123
That means developers could never rely on these functions being available and have to use `function_exists` everywhere. That doesn't sound great.

IMO `remove_action( 'init', 'core_sitemaps_get_server' )` for now is enough. Alternatively a `core_sitemaps_enabled` filter within `core_sitemaps_get_server`. But no conditional file inclusion.

Similar to the (deprecated) `rest_enabled` filter.

[2020-02-25 15:32] #67 closed, assigned to kirstyburgoine

[2020-02-25 16:46] superpoincare opened #134 "Remove trailing slash"
### Description

**Is your feature request related to a problem? Please describe.**
https://www.example.com/sitemap.xml and https://www.example.com/sitemap.xml/ are different pages

**Describe the solution you'd like**
https://www.example.com/sitemap.xml/ should redirect to https://www.example.com/sitemap.xml

[2020-02-26 16:12] pbiron commented on #122
I don't have have at the moment to give all my thoughts on this issue, but I wanted to say 2 things now before I forget:

1. using `SimpleXML` (or `XMLWriter`, see number 2) would be highly preferable to using "string concatination" for generating the sitemaps.  But, yes, there are probably some hosts which don't have the extension installed.  It would be really great if we could get some status o

[2020-02-26 16:32] pbiron commented on #132
thanx for opening this issue!  It was on my todo list but other things kept getting in the way.

A couple of thoughts:

1. currently, rewrite rules are flushed upon initial activation and/or if the plugin's version number changes.  Flushing rewrite rules with a `register_activation_hook()` would be preferable.  As I've been testing this plugin, I've several times switched back-end-forth between it

[2020-02-26 18:56] pbiron commented on #122
I just raised this issue in the weekly [#hosting-community](https://wordpress.slack.com/archives/C3D6T7F8Q/p1582741877084400) meeting.

One participant there said he'd try to gather some internal stats and report back on how making `SimpleXML` (or `XMLWriter`) a required PHP extension would impact their customers.

And the person running the meeting suggested they can do a make/hosting post to try

[2020-02-28 14:26] swissspidy commented on #128
I am not sure whether we should make that prefix filterable. We could just as well hardcode it.

With what would this be consistent?

[2020-02-28 14:29] pfefferle commented on #128
If you use one of the current plugins, they mostly generate a `/sitemap.xml` and this might cause some 404s and that could cause issues with Search engines (even if the redirect is implemented). Why not make it filterable? What is the downside?

[2020-02-28 14:35] swissspidy commented on #128
https://github.com/GoogleChromeLabs/wp-sitemaps/pull/129#issuecomment-590915627 suggests redirecting requests to `/sitemap.xml` if they'd lead to 404s. So that would be covered.

Unnecessary overhead and error-proneness for no real benefit. The sitemap name does not matter for consumers. Worst case there's a redirect or there are two sitemaps running on the site. Still, the correct sitemap would b

[2020-02-28 16:43] pfefferle commented on #128
My intention was: Plugin developer like [Google Sitemaps](https://wordpress.org/plugins/google-sitemap-generator/) will be able to keep the existing `/sitemap.xml` slug if they use/extend the core implementation. But true, if we implement https://github.com/GoogleChromeLabs/wp-sitemaps/pull/129#issuecomment-590915627 it shouldn't be a problem.

[2020-03-03 10:18] #8 closed, assigned to nobody

[2020-03-03 10:18] #12 closed, assigned to nobody

[2020-03-03 10:18] #35 closed, assigned to kirstyburgoine

[2020-03-03 10:21] #45 closed, assigned to nobody

[2020-03-03 11:17] swissspidy commented on #99
#125 is a nice improvement, but I realized that `WP_VERSION` on Travis is basically useless as PHPUnit only uses `roots/wordpress` for that.

Not a huge issue as we basically only care about WordPress 5.4 at this point, but could be nice nonetheless. Maybe at some point in the future.

[2020-03-03 11:17] #99 closed, assigned to nobody

[2020-03-03 11:20] swissspidy commented on #127
Closing in favor of #131

[2020-03-03 11:20] #127 closed, assigned to nobody

[2020-03-03 14:20] swissspidy commented on #134
Hmm WordPress doesn't remove trailing slash for `/robots.txt` either.

[2020-03-03 15:32] #128 closed, assigned to nobody

[2020-03-03 15:35] joemcgill commented on #122
My suggestion is that, unless we get overwhelming data showing that `SimpleXML` is unavailable on a large percentage of WP installations, we make it a requirement of _this_ feature specifically and provide a graceful failure message if that requirement is not met. It would not need to be a requirement of WordPress, since the application would still run just fine, it just would mean that someone wi

[2020-03-03 19:08] #132 closed, assigned to nobody

[2020-03-04 11:28] swissspidy commented on #134
Although there is `\Core_Sitemaps_Index::redirect_canonical`...

[2020-03-04 13:23] swissspidy opened #140 "Stylesheet URLs broken when using ugly permalinks"
**Describe the bug**
Noticed today while working on some tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable pretty permalinks
1. Open sitemap or sitemap index
1. Notice that stylesheet URL is pretty, not ugly

[2020-03-04 16:32] #140 closed, assigned to nobody

[2020-03-05 09:38] Crixu commented on #122
Short update on the hoster situation:

1. I checked with IONOS and their latest PHP versions support the SimpleXML extension on their managed offerings
2. SimpleXML is a default with the latest PHP versions on Plesk servers.
3. 80% of cPanel servers have this module installed. cPanel installs it by default on new installs.
4. I talked with a Joomla! Extension developer about this. He is offering a

[2020-03-05 09:41] swissspidy commented on #122
@Crixu Thanks a lot for sharing! Very useful :)

[2020-03-05 14:21] swissspidy commented on #123
Consolidating with #111. See #138.

[2020-03-05 14:21] #123 closed, assigned to nobody

[2020-03-09 15:16] #122 closed, assigned to nobody

[2020-03-10 08:49] swissspidy opened #144 "Handle 404 requests to sitemap.xml"
### Description

Now that we prefixed the sitemap URLs with `wp-`, it would be nice to handle 404 requests to `sitemap.xml` and redirect those requests to `wp-*.xml`. If `sitemap.xml` is already handled by a plugin, nothing should be done.

### Acceptance Criteria
Add the relevant acceptance criteria here.
- []
- []
- []

[2020-03-10 15:28] ThierryA opened #146 "Update rewrite rules and query params to avoid plugin conflicts"
**Describe the bug**
The [current rewrite rules](https://github.com/GoogleChromeLabs/wp-sitemaps/blob/cb1148d343abef399bd5b4bc472f58cbeeb3e67d/inc/class-core-sitemaps.php#L124) are conflicting with other plugins. We should change it it to avoid conflicts.
Query params may also need to be update, something to look into.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Yoast SEO (one of

[2020-03-10 16:07] pbiron opened #147 "maybe flush rewrite rules when a custom provider is added"
When registering a custom provider I needed to manually flush rewrite rules before accessing the sitemap generated by that provider.

**To Reproduce**
Steps to reproduce the behavior:
1. register a custom provider with `core_sitemaps_register_providers`
2. go to `/wp-sitemap.xml`
3. click on the link for the custom provider
4. See the 404

**Expected behavior**
Step 3 should result in the custom p

[2020-03-10 20:22] chesio commented on #133
Note: This would inherently fix the issue described in #116.

[2020-03-10 23:57] websiteforstudents opened #148 "Google Search Console Sitemap fail for example.com/wp-sitemap.xml"
Google Search Console Sitemap can be read because of error for **example.com/wp-sitemap.xml**.

An invalid date was found.

Please fix the date or formatting before resubmitting.

[2020-03-11 03:32] websiteforstudents commented on #148
There's no issue. After a while, Sitemap was successful in GSC. Please close this.
Thanks,

[2020-03-11 03:32] #148 closed, assigned to nobody

[2020-03-13 06:24] getsource commented on #122
Just for additional information, as [commented on the hosting team site](https://make.wordpress.org/hosting/2020/03/11/host-feedback-requested-regarding-simplexml/#comment-151):

I checked with folks, and heard back that SimpleXML is widely available across GoDaddy’s services. Feedback is that it seems reasonable to make it a requirement for the sitemaps feature.

[2020-03-17 16:00] adamsilverstein commented on #133
As discussed in [slack](https://wordpress.slack.com/archives/CTKTGNJJW/p1584459887289200) today, the consensus is that removing `lastmod` simplifies things, solves issues and that overall `lastmod` is not needed.

Regarding the _computationally expensive_ issue I wanted to mention the work we did in 5.2 for [get_feed_build_date](https://github.com/WordPress/wordpress-develop/blob/ac6cb23470ecd49d0

[2020-03-18 09:27] MazeWebArchitect commented on #122
RAIDBOXES has SimpleXML available on all Servers and we second that it is reasonable to require it for sitemaps.

[2020-03-24 09:31] swissspidy commented on #133
`get_feed_build_date` essentially does `max( wp_list_pluck( $wp_query->posts, 'post_modified_gmt' ) )`. In `get_lastmod_for_type` we currently do  `get_post_modified_time( ..., $posts[0 _ )` on an ordered list, which is _basically_ the same. We just cache it.

[2020-03-24 10:28] swissspidy commented on #147
I think instead of letting the provider set its desired route we just register a catch-all route. No need to flush any rules when adding/removing providers in that case.

[2020-03-24 16:21] swissspidy commented on #147
@pbiron To answer your question on Slack, here's more or less what I had in mind...

Right now we do `add_rewrite_rule( '^wp-sitemap\.xml$', 'index.php?sitemap=index', 'top' )` in the main class, and every provider adds their own rewrites, e.g. `add_rewrite_rule( '^wp-sitemap-posts-([A-z]+)-?([0-9]+)?\.xml$', 'index.php?sitemap=posts&sub_type=$matches[1]&paged=$matches[2]', 'top' )` for the posts

[2020-04-01 13:05] svandragt commented on #43
May be fixed by #133

[2020-04-03 16:18] afragen commented on #133
As this seems the appropriate issue, I've been seeing many PHP notices in my log for the following. My line numbers don't match up as I have some debug code in there to output value of `$last_modifed`, FWIW it seems undefined.

This seems to be because the `$last_modified` variable is undefined.

This might be related to custom CPTs on the site.

[2020-04-07 20:00] pbiron opened #151 "extension elements in sitemaps"
extension elements in sitemaps

**Describe the bug**

#88 added filters that allow extension elements to be added to sitemaps (e.g., `core_sitemaps_posts_url_list`).

However, there are a couple of problems with the solution:

1. `Core_Sitemaps_Renderer::get_sitemap_xml()` outputs all elements in the sitemaps namespace (i.e., `http://www.sitemaps.org/schemas/sitemap/0.9`) and the [sitemaps XML Sch

[2020-04-07 20:38] pbiron commented on #151
For example,

[code]

Will produce something like:

[code]

which is invalid against the sitemaps XML Schema, since the `foo` element **must** be in a namespace other than `http://www.sitemaps.org/schemas/sitemap/0.9`. The sitemap is well-formed XML, but not valid against the XML Schema.

Similarly,

[code]

Will produce something like:

[code]

which, again, is not valid against the XML Schema be

[2020-04-07 21:02] pbiron opened #152 "XSLT stylesheet does not display custom elements"
### Description

The XSLT stylesheet only displays the `<loc>` and `<lastmod>` elements (and `<lastmod>` is proposed to be removed in #145).

Should the stylesheet be modified to display additional columns If a plugin adds additional child elements of `<url>` (e.g., `<priority>` or something in another namespace)?

While the content rendered by the stylesheet will not affect sitemap consumers, use

[2020-04-10 20:30] pbiron commented on #151
I had a closer look at the XML Schema while I was working on #153, and **I sure hope** that none of the major sitemap consumers require that sitemaps be valid against the schema...because they way the schema is written ensures that the average WP plugin author won't be able to produce sitemap instances containing extension elements that validate against the schema!

Why?  Because the content model

[2020-04-10 22:49] pbiron commented on #151
That said, I still think we should try to find a way for plugin authors to specify a namespace URI for extensions they add via the various `core_sitemaps_{$object_type}_url_list` filters.

I haven't come up a **great** way yet, but I'll throw the following **good** way out just for comment:

1. add a filter, such as `core_site_maps_namespace_bindings`, that plugins would use to add `prefix` to `na

[2020-04-10 23:19] pbiron commented on #151
And while I'm being pedantic (I'm in one of those moods today...I'll blame it on Covid-ID isolation :-), another **bad** thing about the sitemaps XML Schema is the type definition for the `Q{http://www.sitemaps.org/schemas/sitemap/0.9}loc` element is:

[code]

which means that:

[code]

is not a valid sitemap (since the URL is shorter than 12 characters).

Note that [http://a.tv](http://a.tv) is a

[2020-04-11 00:02] pbiron commented on #151
I just realized that I forgot to show the sitemap that would be generated by the suggested mods above:

[code]

[2020-04-12 20:00] pbiron opened #154 "Add filters to disable the use of the stylesheets"
### Description

While working on #151 and #153, I found it useful to be able to see the "raw" XML sitemap in the browser, instead of the HTML output produced by the stylesheet.

**Describe the solution you'd like**

We should add filters to control whether the stylesheet PI is output in the XML, one for the index and another for the sitemap.

**Additional context**

It is unlikely that site owner

[2020-04-14 11:38] swissspidy commented on #146
Closing as it was deemed to be a non-issue. If another plugin takes over, that's fine.

[2020-04-14 11:38] #146 closed, assigned to nobody

[2020-04-15 00:02] pbiron opened #156 "unit tests in sitemaps-renderer.php should not use string comparisons"
### Description

`test_get_sitemap_index_xml()` and `test_get_sitemap_xml()` fail on Windows because `SimpleXMLElement::asXML()` seems to use `\n` as a line ending and `$expected` uses `PHP_EOL`, which is `\n\r` on Windows.

But more to the point, the assertions should, as much as possible, be comparing [XML Information Set](https://www.w3.org/TR/2004/REC-xml-infoset-20040204/)s; that is, the abst

[2020-04-15 22:42] pbiron commented on #156
I just found a few existing tests in the core test suite that do use `DOMDocument` (without having any `if ( class_exists( 'DOMDocument' ) ) {}` guards).  So it seems that using `DOMDocument` in tests shouldn't be a problem.  Anyone disagree?

How would that be useful?  For instance, the existing [test_get_sitemap_xml_extra_attributes()](https://github.com/GoogleChromeLabs/wp-sitemaps/blob/master/

[2020-04-20 08:06] swissspidy commented on #156
Thanks for raising this @pbiron!

Improving the tests so that they at least work on Windows makes total sense to me. Namespace awareness would be a nice bonus, especially since we'd want to enable plugins to add namespaced attributes via filters. It should be fine to rely on `DOMDocument` for the tests.

[2020-04-20 14:03] pbiron commented on #156
I'll try to find the time to open a PR before the meeting tomorrow.

[2020-04-21 11:15] #154 closed, assigned to nobody

[2020-04-21 12:24] swissspidy commented on #115
Some refactoring is done in #150, and more will follow ahead of the merge proposal. I think creating an interface is currently off the table.

I am closing this one for now. Can always revisit though.

[2020-04-21 12:24] #115 closed, assigned to nobody

[2020-04-21 12:25] swissspidy commented on #39
Closing this one for now, as this optimization is off the table for now.

[2020-04-21 12:25] #39 closed, assigned to joemcgill

[2020-04-21 12:25] swissspidy commented on #1
Closing this one for now

[2020-04-21 12:25] #1 closed, assigned to joemcgill

[2020-04-21 12:43] #144 closed, assigned to kraftbj

[2020-04-21 13:53] #43 closed, assigned to nobody

[2020-04-21 13:53] #116 closed, assigned to nobody

[2020-04-21 13:53] #133 closed, assigned to nobody

[2020-04-21 17:24] szepeviktor opened #159 "Non-canonical URL for XML stylesheets"
**Describe the bug**
The XML contains a reference to XSL without a trailing slash,
and that URL always gets redirected to the slashed one.

**To Reproduce**
1. Load the sitemap in your browser

**Expected behavior**
No redirects for XSL URL-s.

**Screenshots**
![kép](https://user-images.githubusercontent.com/952007/79894275-7de3b780-8405-11ea-802f-519ea645f47c.png)

**Desktop (please complete the

[2020-04-23 07:36] #159 closed, assigned to nobody

[2020-04-23 09:42] szepeviktor opened #161 "core-sitemaps v0.2.0 renders 404-s with single.php"
**Describe the bug**
When core-sitemaps plugin is disabled 404 (non-existent) URL-s return: `404.php` template

When enabled `single.php` gets rendered **with HTTP/200** for non-existent URL-s

[2020-04-23 12:04] swissspidy commented on #161
@szepeviktor does this also happen with the current master version?

[2020-04-23 12:06] szepeviktor commented on #161
Copying ....

[2020-04-23 12:09] szepeviktor commented on #161
Done.

Oh Yes!

[code]

[2020-04-23 12:10] szepeviktor commented on #161
FYI this is my custom code

[code]

[2020-04-23 12:24] swissspidy commented on #161
Seems to be caused by #149, so not sure how you encounter this also in 0.2.

See #162 for a fix.

[2020-04-23 16:45] #156 closed, assigned to nobody

[2020-04-23 21:22] pbiron commented on #152
This is my attempt to address the question asked by @svandragt [on slack](https://wordpress.slack.com/archives/CTKTGNJJW/p1586875257113600) about the use case for this functionality.

Suppose a site owner updates to WP 5.5 and hears that it now includes native support for sitemaps.  So they deactivate whatever sitemaps plugin they used prior to 5.5 and view the posts sitemap in their browser.  The

[2020-04-24 01:08] pbiron commented on #152
I'm now fairly certainly I have an alternate way to structure the XSLT to fully support custom columns that is **MUCH** easier than that in #153, and only _slightly_ more complex than the existing XSLT.

The more I thought about the analogy with `WP_List_Table` and `manage_posts_columns', the more I realized that what's in #153 solves a **much** more general problem than we actually have.  So, giv

[2020-04-27 17:58] #161 closed, assigned to nobody

[2020-04-28 13:58] swissspidy opened #164 "Road towards WordPress Core"
This thread aims to cover things needed to pave the way for an eventual merge proposal into WordPress core.

Sub-issues will be created as-needed.

The tasks are more or less in desired chronological order:

* [x] Release version 0.3.0. Including these PRs:
  * [x] #138 - Private sites
  * [x] #150 - Improving rewrite rules
* [x] Land other outstanding PRS, perhaps for a 0.4.0 release. At the mome

[2020-04-28 14:54] joemcgill commented on #151
Thanks for clearly explaining the name spacing issue with the XML sitemaps spec and illustrating with examples. I wonder if instead of a simple filter approach for adding custom values to the array, we need to provide a registry for URL properties which requires you to add a namespace in order to register the property. Something like this pseudocode:

[code]

We can pass some data to any registere

[2020-04-28 18:08] swissspidy commented on #54
Attachments are explicitly excluded.

Private posts are currently only listed when logged in, but that might be confusing. Let's hide them at all times.

[2020-04-28 20:43] #54 closed, assigned to nobody

[2020-04-28 21:06] pbiron opened #166 "Provider `$object_type` and `$sub_type` need to be sanitized for the rewrite rules to match in some cases"
**Describe the bug**

The regexes used for the rewrite rules (both currently as in #150) would not match in certain cases without the `$object_type` and `$sub_type` properties of `Core_Sitemaps_Provider` being sanitized (most likely via `santize_title()` like the REST API does for it's routes).

**To Reproduce**
Steps to reproduce the behavior:

I came across these cases while testing #150...I tri

[2020-04-29 06:48] swissspidy commented on #166
Object sub types (e.g. custom taxonomies):

Hmm, we could do `sanitize_key()` in `\Core_Sitemaps_Provider::get_sitemap_url`, but then we also need to do it in places using `\Core_Sitemaps_Provider::get_object_sub_types`

Object types (e.g. custom providers):

Not sure we should really do something here. The `object_type` property is only really used for rewrites. If someone adds spaces there, they

[2020-04-29 14:26] pbiron commented on #166
I haven't had time to investigate where the sanitizing should happen. but those 2 seem good places to start.

And I would think that `sanitize_title()` would be more in line with current WP practice than `sanitize_key()`, as in both places we're talking about URLs.

It's not just spaces, e.g., `$object_type = 'Foo';` would also fail, given that the rewrite regex is `([a-z]+?)`.

Adding a `_doing_i

[2020-04-29 15:22] #147 closed, assigned to nobody

[2020-04-29 21:56] #111 closed, assigned to nobody

[2020-04-30 14:56] Koli14 opened #167 "Page not found for post_tag sitemap"
**Describe the bug**
If I visit /wp-sitemap.xml, there is an url in the list: /wp-sitemap-taxonomies-post_tag-1.xml
If I click on it, 404 page comes in. All other links are working (like: /wp-sitemap-taxonomies-category-1.xml)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://wp.szinhaz.online/wp-sitemap.xml
2. Click on https://wp.szinhaz.online/wp-sitemap-taxonomies-post_tag-1.x

[2020-04-30 15:06] swissspidy commented on #167
@Koli14 Thanks for your report. Does this still happen with the current master branch?

We might need to check the rewrite rules regarding underscores...

[2020-04-30 15:07] swissspidy commented on #167
If it's because of the underscore, might be a duplicate of #166.

cc @pbiron

[2020-04-30 15:36] pbiron commented on #167
I can't replicate with v0.2.0, but can with master.

The regex for the rewrite rule in 0.2.0 is `^wp-sitemap-taxonomies-([A-z]+)-?([0-9]+)?\.xml$'`, which includes `_`, but kind of by "accident", because it's in the range of characters between the uppercase  and lowercase letters (so is `[`, `^` and a few others that probably weren't intended).

The new regex in master (after #150) is `^wp-sitemap

[2020-04-30 15:49] #167 closed, assigned to nobody

[2020-05-01 20:31] adamsilverstein commented on #164
@swissspidy I will take a pass at "Update all inline documentation to adhere to WordPress coding standards" - is there anything in particular you noticed that needs adjusting? I see that `phpcs` is in place and enforcing having inline docs :).

I do see that the language for descriptions is a bit off - the documentation standards call out using [third-person singular verbs](https://make.wordpress.

[2020-05-01 20:46] felixarntz commented on #164
@adamsilverstein The 3P singular verbs was I was thinking about too here. We should also consider updating the `since` annotations - many are missing, and the ones are there refer to plugin versions. Maybe we should already set these to 5.5 instead, or something that's easy to replace with the exact WP version later?

[2020-05-01 20:49] adamsilverstein commented on #164
@felixarntz Good idea, I'll set them all to `@since 5.5.0` since that is our target for merge. I spotted a few other irregularities along the way, mostly though, this code is very well documented!

[2020-05-01 21:13] felixarntz commented on #164
@swissspidy I looked through the codebase a bit, opened a few small PRs (#170, #171, #172), and will now have a look at #124.

[2020-05-01 21:36] adamsilverstein commented on #164
@swissspidy I started work on documentation standards updates in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/173 - let me know if there is anything else you know is missing and I'll finish that up.

[2020-05-01 22:04] adamsilverstein commented on #134
@vijayaraghavanramanan do you have any more details about the reasoning for this change? Is this required/expected behavior?

I do see that core's `robots.txt` does also work with a trailing slash (`/robots.txt/`).

[2020-05-01 22:05] adamsilverstein commented on #164
I will take this one: "Get audit from WordPress security team"

[2020-05-01 23:12] felixarntz commented on #86
I've iterated on the PR #124, which should be good for review now.

[2020-05-01 23:17] felixarntz commented on #166
@pbiron I wonder if this is something that should be addressed in core instead as @swissspidy already pointed at. With `register_post_type` already taking care of that, I think `register_taxonomy` should too. Sanitizing here instead would be merely patchwork in an attempt to cover what's rather broken there.

In addition to that, I don't think this is a common thing to do - while I'm sure it exist

[2020-05-01 23:19] felixarntz commented on #134
I tend to agree with @vijayaraghavanramanan that the sitemap URLs shouldn't support trailing slashes, as they're not directories. It's interesting that WordPress's `robots.txt` version also works with trailing slashes, my first hunch would be that that was simply an oversight - no reason for us to not handle it better here. :)

[2020-05-01 23:24] felixarntz commented on #103
Nice, I didn't even see this issue, but I kind of wrote exactly this method in #172. It doesn't have a filter, but that could easily be added. Let's think about whether we'd really need it though first.

Do we want this to also be available as a simple function? While someone could instantiate a `Core_Sitemaps_Index` object and call the method on there, if we want this to be easily usable outside

[2020-05-04 13:57] adamsilverstein commented on #164
I will work on these items from the [Merge criteria](https://make.wordpress.org/core/handbook/about/release-cycle/features-as-plugins/#feature-plugin-merge-criteria):

* [x] The code is well-documented. _I will ask the docs team to review once we have merge all doc fixes._
* [ ] The code follows the plugin security best practices, and has undergone a security audit. _I will perform an initial audi

[2020-05-05 01:27] pbiron commented on #164
While there's nothing like a `Settings` UI, there is the HTML rendering of the sitemaps (and sitemap index), e.g. `https://example.com/wp-sitemap.xml`).  Should that be checked for a11y?

[2020-05-05 14:12] swissspidy commented on #151
@felixarntz @adamsilverstein would be interested to hear your thoughts on this

[2020-05-05 14:48] swissspidy commented on #134
This is how Meta just solved this on their end:

https://meta.trac.wordpress.org/changeset/9818/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-themes/functions.php

[2020-05-05 14:55] swissspidy commented on #134
Oh, here's the core ticket for `robots.txt`, including a patch & tests: https://core.trac.wordpress.org/ticket/48025

I guess in core we could solve this the same for sitemaps, adding methods like `is_sitemap` and such.

[2020-05-05 14:56] swissspidy commented on #164
Not sure how much we can do about a11y there, but yeah makes sense.

[2020-05-05 15:54] pbiron commented on #164
Maybe there are no a11y issues with what the stylesheets output.  But, not being an "a11y guy", maybe  we need to add/fix some things?  At any rate, I think it deserves a review.

[2020-05-06 15:26] #103 closed, assigned to nobody

[2020-05-07 11:55] felixarntz commented on #164
@swissspidy Happy to tackle the part of using more core-like names for all the classes and functions in preparation for a patch. I can do that end of this week.

[2020-05-07 11:57] swissspidy commented on #164
@felixarntz sounds good! Should we merge the open tests PR before that to avoid unnecessary conflicts?

[2020-05-07 12:28] felixarntz commented on #164
@swissspidy Yeah, that'd be great! From my end that's good to go.

[2020-05-07 12:51] #86 closed, assigned to nobody

[2020-05-07 12:57] swissspidy commented on #164
@felixarntz Merged! For the refactor, keeping #91 in mind would be good (making names consistent)

---

All:

#131 would be a nice little thing to solve too, adding a filter for the arguments passed to `WP_Query` and `WP_User_Query` everywhere. Plus `pre_*` filters to short-circuit those queries.

#134 could be handled in core, IMHO. WDYT?

#151: I don't think we need a full-fledged API for extens

[2020-05-07 13:35] adamsilverstein commented on #164
I requested a docs review from the core Docs team and will follow up with them at their next meeting (https://wordpress.slack.com/archives/C02RP4WU5/p1588858440176300)

[2020-05-07 13:35] adamsilverstein commented on #164
Can't hurt to ask!

[2020-05-07 13:39] adamsilverstein commented on #164
I requested a review from the accessibility team and will follow up with them at their next meeting (https://wordpress.slack.com/archives/C02RP4X03/p1588858740465100)

[2020-05-07 13:45] adamsilverstein commented on #164
I requested a review from the Polygots team and will follow up with them at their next meeting (https://wordpress.slack.com/archives/C02RP50LK/p1588859081157000).

[2020-05-07 13:47] adamsilverstein commented on #164
I will take this item: "Create ticket on WordPress Trac"

[2020-05-07 18:05] adamsilverstein commented on #164
Created a trac ticket: https://core.trac.wordpress.org/ticket/50117

[2020-05-07 22:12] zzap commented on #164
I reviewed everything except tests. Here's the list of issues I found.

## Default value

Every string @param with empty value was documented with `Default ''`. It should be `Default empty`.

- https://github.com/GoogleChromeLabs/wp-sitemaps/blob/master/inc/functions.php#L106
- https://github.com/GoogleChromeLabs/wp-sitemaps/blob/master/inc/functions.php#L116
- https://github.com/GoogleChromeLabs/

[2020-05-08 08:35] swissspidy commented on #164
@adamsilverstein Thanks for creating the ticket! Probably warrants a new Sitemaps component on Trac after merge :-)

@zzap Really useful, thanks!

[2020-05-08 13:18] adamsilverstein commented on #164
@swissspidy Discussing review with the Polygots team, [they asked](https://wordpress.slack.com/archives/C02RP50LK/p1588860656160600?thread_ts=1588859081.157000&cid=C02RP50LK) about whether we have a plugin in the .org repository. Have you considered this already? It would enable wider testing and is listed as a [merge requirement](https://make.wordpress.org/core/handbook/about/release-cycle/featur

[2020-05-08 13:25] adamsilverstein commented on #164
@zzap Thank you so much for the detailed review. I will work to address these issues.

Reviewing the documentation guide, the examples **do not** have a blank line before the `@return` line.  I will follow that approach, if that is not right please let me know!

[2020-05-08 13:36] zzap commented on #164
@adamsilverstein That is correct. Current rules do not enforce blank line before `@return` and the practice in core is to omit it. You can follow that approach.

[2020-05-08 14:43] swissspidy commented on #164
@adamsilverstein the plugin is already in the repo: https://wordpress.org/plugins/core-sitemaps/

[2020-05-08 15:41] felixarntz commented on #91
Another related point is that we should change all functions and methods to use `subtype` rather than `sub_type` - core does not split this word in code.

[2020-05-08 15:45] felixarntz commented on #91
And, the object types used here are partially incorrect, object types are `post`, `term`, `user`, not `posts`, `taxonomies`, `users`.

[2020-05-08 15:48] swissspidy commented on #91
@felixarntz yeah we might need to rename those properties. They're pluralized so they look better in URLs.

[2020-05-08 15:49] felixarntz commented on #91
@swissspidy Yeah, we can also use different names for URL purposes, but the actual slugs for object types shouldn't be changed from how core has them.

[2020-05-08 17:02] adamsilverstein commented on #164
@swissspidy Doh! Thank you for sending the link.

[2020-05-08 17:38] felixarntz commented on #91
PR is ready for review #174

[2020-05-08 19:33] adamsilverstein commented on #164
@zzap Thanks again for the thorough review.

I have tried to address all the items you noted in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/175. The only thing I felt a little unsure about was the array notation, so if you have a chance I would appreciate you checking to make sure I did those correctly.

Addressed in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/175/commits/ef2993c

[2020-05-08 23:00] zzap commented on #164
@adamsilverstein:

You didn't have to modify all arrays. I'm very sorry that my explanation was unclear. The only candidate for documenting array `@param` in this way is the one I linked and you did it almost perfect.

The only thing that should be changed here is that arguments are not strings but objects. So it should be:

[code]

Now, let me explain why is this needed here and not on other plac

[2020-05-09 07:20] ePascalC opened #177 "Use _n for singular/plural distinction"
The string "This XML Sitemap contains %s URLs" should use the _n function to correctly split singular and plural.
inc/class-core-sitemaps-stylesheet.php:52 and 137

[2020-05-09 07:29] ePascalC opened #178 "Translation: need for '&rsaquo;' ?"
In inc/class-core-sitemaps-renderer.php, line 185, the line says:
__( 'WordPress &rsaquo Error', 'core-sitemaps' )

Is there any specific requirement for having that &rsaquo ?

It will confuse translators and I'm not sure it fits well in that sentence.
(I remove the ; at the end of &rsaquo because GitHub was showing it directly as &rsaquo; )

[2020-05-09 14:32] pbiron commented on #178
There are a couple of instances of that string in core, e.g. https://core.trac.wordpress.org/browser/trunk/src/wp-load.php#L92

[2020-05-09 15:44] pbiron commented on #177
This one is tough.

The number of URLs is not known at the time that statement is executed.  And `_n_noop()` isn't appropriate either because, in fact, the number of URLs isn't known from within PHP so `translate_nooped_plural()` can't be used later.

A somewhat analogous case would be a string in the `content:` property of a CSS rule, where the single vs plural choice isn't known until the HTML i

[2020-05-09 16:31] swissspidy commented on #177
No, that wouldn‘t work for all languages because of different plurals.

Due to the limitations you mention, this is essentially a wontfix.

We can only optimize the string a little bit like #176 does. But that‘s about it.

[2020-05-09 18:28] pbiron commented on #177
When I first read your reply, I didn't understand it.  A little searching turned up https://www.cssigniter.com/wordpress-localization-plural-forms-work/.  Very informative,..now I understand why my suggestion wouldn't work.

BTW, `number_format_i18n()` will be easy to implement in XSLT.

[2020-05-09 20:57] adamsilverstein commented on #164
@zzap thanks for the clarifications and especially explaining why. I’ll address these in my PR.

[2020-05-09 21:04] pbiron commented on #177
Oh, there actually is a way we can use `_n()`.

If we generate the stylesheet URL in `Core_Sitemaps_Renderer::get_sitemap_xml()` (instead of in the constructor, which should be fine since that's the only place it's used) then:

1. we'll know how many URLs are in the sitemap
2. we can add a query_arg to the URL with the count

like so,

[code]

Then, in `Core_Sitemaps_Stylesheet::get_sitemap_styles

[2020-05-09 22:43] swissspidy commented on #177
Thanks a lot for looking closely into this!

While such a solution might sound appealing, it would also make this overly complex for very little benefit.

I still think changing the sentence like in #176 is the only way to go. And I say this as someone who is very familiar with i18n.

[2020-05-11 08:29] swissspidy commented on #178
Closing since we'd want consistency with already present strings in core.

[2020-05-11 08:29] #178 closed, assigned to nobody

[2020-05-11 08:31] #177 closed, assigned to nobody

[2020-05-11 22:32] adamsilverstein commented on #164
@zzap - Oops!

I reverted that commit (yea, granular commits) and replaced the one instance that needed documenting that way, including your suggested change to `object`. Then I went thru and cleaned up all the descriptions.

Fixed everything up in https://github.com/GoogleChromeLabs/wp-sitemaps/pull/175/commits/2ea150c2963339febd6144f10aa49045e5c342d0 ready for another review please!

[2020-05-12 06:59] swissspidy opened #180 "Rethink behavior in `Core_Sitemaps_Provider::get_object_subtypes()`"
See discussion at https://github.com/GoogleChromeLabs/wp-sitemaps/pull/174/files#r423261977

[2020-05-12 07:01] #91 closed, assigned to nobody

[2020-05-12 09:43] zzap commented on #164
Looking good @adamsilverstein :+1:

[2020-05-12 15:10] jdevalk commented on #134
I've just asked @sergeybiryukov to get that patch in for `robots.txt`.

[2020-05-12 21:59] adamsilverstein commented on #164
I'll take this one.

[2020-05-13 14:14] adamsilverstein commented on #151
I'm not familiar enough with how sitemaps are typically extended to answer. I like the registry suggestion from @joemcgill which might provider a cleaner API than filters.

What do current popular sitemap plugins provide for extensibility?

[2020-05-19 11:02] swissspidy commented on #151
In #184 I propose a rather simple solution for this. It does not cover some edge cases like the order of elements, which I think could be handled in a future release if necessary.

[2020-05-21 16:18] Rajesh-Techblissonline opened #186 "get_sitemap_list() in Core_Sitemaps_Index throws an error when there are no sitemap entries for a provider"
**Describe the bug**
In class `Core_Sitemaps_Index`,  `get_sitemap_list()` function,  the following line throws an error when there are no sitemap entries for a provider as array_push expect a non-empty array.
`array_push( $sitemaps, ...$provider->get_sitemap_entries() );`

**To Reproduce**
Steps to reproduce the behavior:
1. No Taxonomies were selected for the Taxonomies provider i.e. `class-core

[2020-05-21 16:30] Rajesh-Techblissonline opened #187 "Add filter for get_url_list() in class Core_Sitemaps_Posts and class Core_Sitemaps_Taxonomies"
### Description

**Which feature is your enhancement request related to?**
Enabling plugins to filter posts that need to be excluded or included in sitemap for Posts.
Enabling plugins to add additional Post attributes for a sitemap

 like Images, change Frequnecy, etc

**Describe the solution you'd like**
core_sitemaps_posts_list filter helps to filter Posts that need to be added to the sitemap.
c

[2020-05-21 16:33] Rajesh-Techblissonline commented on #187
Likewise add similar filters core_sitemaps_terms_list and core_sitemaps_term_attributes to class-core-sitemaps-taxonomies.php. Find the solution attached.
[class-core-sitemaps-taxonomies.txt](https://github.com/GoogleChromeLabs/wp-sitemaps/files/4663572/class-core-sitemaps-taxonomies.txt)

[2020-05-24 05:28] Rajesh-Techblissonline opened #188 "Add a filter to get_url_list() in class Core_Sitemaps_Posts"
@swissspidy
### Description
 A plugin author cannot add any additional POST attributes to the url_list array at the individual POST (or POST ID) level within the For Loop.

**Which feature is your enhancement request related to?**
https://github.com/GoogleChromeLabs/wp-sitemaps/pull/183

**Describe the solution you'd like**
Allow plugin developers to filter the url_list[] array at the post level w

[2020-05-24 05:41] Rajesh-Techblissonline opened #189 "Add a filter to get_url_list() in class Core_Sitemaps_Taxonomies"
@swissspidy
### Description
 A plugin author cannot add any additional Term attributes to the url_list array at the individual Taxonomy Term (or TERM ID) level within the For Each Loop.

**Which feature is your enhancement request related to?**
https://github.com/GoogleChromeLabs/wp-sitemaps/pull/183

**Describe the solution you'd like**
Allow plugin developers to filter the url_list[] array at th

[2020-05-24 05:47] #187 closed, assigned to nobody

[2020-05-24 07:24] Rajesh-Techblissonline commented on #151
This is an interesting issue. I am using the Core Sitemaps module within my Platinum SEO Plugin. And I have addressed this problem with a filter that lets plugin authors to render the sitemap as they want usint their custom stylesheets. This filter will be added to the function `render_sitemap($url_list)` in class `core_sitemaps_renderer` . But the function definition need to be changed and it wil

[2020-05-26 09:39] swissspidy commented on #186
Which version of PHP are you using?

[2020-05-26 09:41] swissspidy commented on #186
Looks like this is specific to PHP < 7.3 only:

https://www.php.net/manual/en/function.array-push.php
https://3v4l.org/Pk7En

[2020-05-26 09:44] swissspidy commented on #186
Possible PR here: #190.

[2020-05-26 11:07] Rajesh-Techblissonline commented on #186
@swissspidy Yes, The warning is thrown in PHP Version 7.2

[2020-05-26 15:19] #186 closed, assigned to nobody

[2020-05-26 19:27] #180 closed, assigned to felixarntz

[2020-05-26 21:01] #188 closed, assigned to nobody

[2020-05-26 21:01] #189 closed, assigned to nobody

[2020-05-27 07:58] Rajesh-Techblissonline commented on #134
What is causing this? I don't experience this on my sites! Both robots.txt and sitemap.xml works as expected! Strange!

[2020-05-27 09:17] Rajesh-Techblissonline commented on #151
The URL LIST with all the custom POST attributes added by plugins are rendered by the plugin code as follows. This implementation may vary from one plugin to another plugin.

[code]

In the above piece of plugin code, the plugin checks whether the attributes lastmod and images are enabled for the POST (object-subtype) and sets an appropriate custom stylesheet for this sitemap-xml (based on the obj

[2020-05-27 09:35] Rajesh-Techblissonline commented on #151
Order can be handled in the WP_Query_Args or WP_Term_Args filter. It can be set to either ASC or DESC in the Query Args.

[2020-05-27 09:36] swissspidy commented on #151
I was referring to order of attributes within a single sitemap entry, not WP_Query order

[2020-05-28 17:13] Rajesh-Techblissonline commented on #151
@swissspidy Oh ok! My bad!

The above proposed filter to let the third party plugin developer to build his own sitemap-xml might take care of that too. So it will address
1) the order of attributes within a sitemap entry,
2) custom stylesheets for different object_types, and/or object_subtypes.  Ideally, the filter should pass both the object_type and object_subtype to the function attached to the

[2020-05-29 19:13] #131 closed, assigned to nobody

[2020-06-03 10:47] swissspidy commented on #164
Started a pull request here: https://github.com/WordPress/wordpress-develop/pull/310

[2020-06-03 15:38] swissspidy commented on #134
Closing as this will be handled in https://github.com/WordPress/wordpress-develop/pull/310

[2020-06-03 15:38] #134 closed, assigned to nobody

[2020-06-06 04:53] westonruter opened #205 "Rewrite rules may not get registered on multisite installs"
I noticed that the rewrite rules are only flushed on plugin activation:

https://github.com/GoogleChromeLabs/wp-sitemaps/blob/584efba4eb63e918bc691c92bc573bba8945f07b/core-sitemaps.php#L51-L75

What about if the plugin is network-activated on a multisite? Won't they fail to be recognized until the site manually flushes rewrite rules?

[2020-06-06 08:54] swissspidy commented on #205
They‘re also flushed here: https://github.com/GoogleChromeLabs/wp-sitemaps/blob/master/inc/class-wp-sitemaps.php

[2020-06-06 16:04] westonruter commented on #205
I suppose that would cause the rewrite rules to be flushed on multisite, but only when a request is made to one of the sites. The rewrite rule would get flushed while the request is being made to the frontend. That seems somewhat perilous.

[2020-06-06 16:41] swissspidy commented on #205
Hmm not sure how much worth it is to dig into this as part of the plugin since we're already working the core patch: https://github.com/WordPress/wordpress-develop/pull/310

cc @felixarntz for Multisite expertise.

[2020-06-06 17:54] westonruter commented on #205
Would the core patch rely on the DB upgrade prompt to ensure the rewrite rules are added?

[2020-06-06 18:45] pbiron opened #206 "Not possible to add additional properties to the posts entry for the home page when 'posts' === get_option( 'show_on_front' )`"
### Description

When `'page' === $post_type && 1 === $page_num && 'posts' === get_option( 'show_on_front' )`, the posts provider adds a sitemap entry with `'loc' = home_url()`.  This is good.

But there is currently no way to add additional properties (e.g., `lastmod`) to that entry.

**Which feature is your enhancement request related to?**

#191 introduced the `wp_sitemaps_posts_entry` filter,

[2020-06-06 19:24] felixarntz commented on #205
See https://github.com/GoogleChromeLabs/pwa-wp/pull/289#discussion_r436293945 - I think to scale this in multisite it needs to happen in a hook per site, not an activation hook. But since this is on its way to core, probably not worth fixing in this case.

[2020-06-06 20:01] westonruter commented on #205
@felixarntz but how is it being done in the core patch? How will a site's rewrite rules be updated upon upgrading? Does core flush rewrite rules as part of the DB upgrade routine?

[2020-06-06 20:45] felixarntz commented on #205
@westonruter @swissspidy I think we'll need to add logic to the `upgrade_550` function (already in place on `trunk` for other reasons) that will `flush_rewrite_rules`.

[2020-06-06 22:05] swissspidy commented on #206
Good catch!

Given that it‘s a special entry, perhaps we could give it its own filter?

Otherwise passing null seems ok too

[2020-06-07 00:07] pbiron commented on #206
A new filter is probably best.

Any suggestions for the name of the new filter?  I'm thinking `wp_sitemaps_posts_show_on_front_entry`.

I'll throw together a PR.

[2020-06-08 08:23] swissspidy commented on #205
Are we sure about that?

The REST API basically adds the rewrite rules the same way we do, see `rest_api_init` / `rest_api_register_rewrites`. And there's no `flush_rewrite_rules` in `upgrade_440`. In fact, there's no upgrade routine in core that flushes rewrites.

[2020-06-08 08:25] #206 closed, assigned to nobody

[2020-06-08 17:06] felixarntz commented on #205
Does core somehow `flush_rewrite_rules` on update in general (outside of a specific routine)?

[2020-06-08 20:54] swissspidy commented on #205
Ah, yes it does!

https://github.com/WordPress/wordpress-develop/blob/7a64133821012708eaa7a86c7677c67029a500e6/src/wp-admin/admin.php#L38-L48

So I think we are covered here for the core patch.

[2020-06-08 21:38] #205 closed, assigned to nobody

[2020-06-15 16:48] wolffe opened #211 "Disable sitemap for ALL users."
This is not an actual bug but I couldn't find any help on disabling the sitemap for ALL users, not one by one based on ID.

[2020-06-15 16:54] pbiron commented on #211
Do you mean disable the users sitemap, but keep the posts and taxonomies (and any custom providers) sitemaps?

If you can do that with the `wp_sitemaps_register_providers` filter, as in:

[code]

If that's not what you meant, can you please explain more :-)

[2020-06-16 09:30] wolffe commented on #211
No, this might be it.

I'll try it today. I couldn't find this snippet anywhere and it looks like it will disable the users' sitemap.

Thanks!

[2020-06-16 10:04] wolffe commented on #211
**Update:** It worked.

Is the `init` the best place to add these filters?

`add_action('init', 'sitemap_init', 3);`

I also have a sitemap plugin and I am trying to migrate to the new core functionality and get rid of mine.

[2020-06-16 10:44] swissspidy commented on #211
It depends on what you want to do.

The `wp_sitemaps_register_providers` example given above works just fine as-is. You don't need to wait until `init` to add that filter. It wouldn't make any difference.

For more complex things, I recommend waiting until `wp_sitemaps_init`. Then you'll have access to the `WP_Sitemaps` instance, and know that sitemaps have been fully initialized and working. At t

[2020-06-16 10:50] wolffe commented on #211
Okay, so I just dump that code into, say the `functions.php` file.

Thanks for `wp_sitemaps_init`, I'm learning more and more about this. I assume, a library of functions or snippets will be available prior to the WordPress 5.5 release.

[2020-06-16 10:57] swissspidy commented on #211
`functions.php` works, but these things are not really theme-specific, so I'd recommend putting that into your custom sitemaps plugin that you appear to have.

[2020-06-16 11:14] wolffe commented on #211
`functions.php` was just an example, but they will go into the sitemap plugin I have.

Going to close this now.

[2020-06-16 11:14] #211 closed, assigned to nobody

[2020-06-16 18:22] knutsp opened #213 "Don't deactivae sitemaps for private sites"
### Description

When the WordPress option to discourage search engines to index the site is ticked, wp-sitemaps deactivates sitemaps completely.

Sitemaps should still be active for testing and inspection. Sites not in production typically are "private" to avid early indexing a test/staging site.  This does not remove he need to see what's being put into sitemaps, especially in case of many CPT's

[2020-06-16 20:19] swissspidy commented on #213
We had some discussions on Slack about this:

https://wordpress.slack.com/archives/CTKTGNJJW/p1592319614495500

[2020-06-16 22:13] pbiron commented on #213
I hear you here.  I've several times discovered CPTs and custom taxonomies that were incorrectly public only by seeing them in a sitemap (in both my own plugins and those written by others).

But as mentioned in the Slack discussion referenced above, I think the current behavior of disabling sitemaps when `get_option( 'blog_public' )` is false is right thing to do...and that a simple 1 line plugin

[2020-06-17 04:26] knutsp commented on #213
Since sitemaps are not submitted to search enhines just because they exist, this is the wrong way, as it would be wrong if feeds was also disabled, not to mention ant html output. I don't see other relevant differences than format (and intended purpose).

Filters are fine, but not to make WordPress do the correct thing.

In this case we are being to "nanny", We are also mixing two things that shou

[2020-06-19 07:59] rilwis opened #214 "Spead operator in PHP 7.4 is used in sitemap index"
I see the spread operator for array is used in the [class-wp-sitemap-index.php](https://github.com/GoogleChromeLabs/wp-sitemaps/blob/master/inc/class-wp-sitemaps-index.php#L60) file:

[code]

This spread operator for array is added in [PHP 7.4](https://wiki.php.net/rfc/spread_operator_for_array). It might break in the older versions. The current PHP version required is 5.6 (and will be soon increa

[2020-06-19 08:07] swissspidy commented on #214
You are confusing this with the splat operator for argument unpacking, which is supported since PHP 5.6.

See https://www.php.net/manual/en/migration56.new-features.php

[2020-06-19 08:07] #214 closed, assigned to nobody

[2020-06-19 09:12] rilwis commented on #214
Ah, I got it. Thanks!

[2020-06-30 14:01] swissspidy opened #216 "Plugin updates after core merge"
* [ ] Fix `wp_sitemaps_enabled` filter name
* [ ] Add note to readme
* [ ] Fix code samples in readme

[2020-06-30 14:11] jonoalderson opened #217 "redirect_sitemapxml should check wp_sitemaps_enabled"
When XML sitemaps are disabled via `wp_sitemaps_enabled`, `redirect_sitemapxml` still runs and redirects requests from `/sitemap.xml` to `/wp-sitemap.xml`.

This is unintended behaviour; if the sitemaps are disabled, this redirect should be disabled.

[2020-06-30 14:13] jonoalderson commented on #217
Moving to Trac

[2020-06-30 14:13] #217 closed, assigned to nobody

[2020-07-03 12:10] #164 closed, assigned to nobody

[2020-07-03 14:07] #216 closed, assigned to nobody

[2020-07-21 18:27] pbiron opened #225 "Update check for whether sitemaps exist in core"
**Describe the bug**

As a result of [core #50724](https://core.trac.wordpress.org/ticket/50724), the current check for whether sitemaps exist in core no longer works w/ 5.5 Beta 3+, resulting in a PHP fatal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate the feature plugin on a site running 5.5 Beta 3
2. See error

**Expected behavior**
The feature plugin should be a no-op.

[2020-07-21 18:41] #225 closed, assigned to nobody

[2020-09-02 14:05] majestica commented on #27
hi, this is a relevant question for me now, i need to set individual priority values for pages, posts, categories, tags, can you show an example how can i implement this? Thanks

[2020-09-02 14:08] swissspidy commented on #27
@majestica Please check out https://make.wordpress.org/core/2020/07/22/new-xml-sitemaps-functionality-in-wordpress-5-5/ to learn about "Adding Additional Tags to Sitemap Entries"

[2020-09-02 14:45] majestica commented on #27
i find about this and i write some snippet, but I just don't understand how to add different priority based on page type, post type, category etc

[code]

[2020-09-02 15:06] swissspidy commented on #27
@majestica I recommend asking in the [WordPress.org support forums](https://wordpress.org/support/) as this repo here is not really monitored.

[2020-09-08 08:36] al1138 opened #231 "Can't exclude images attached to a specific custom post type"
**Describe the bug**
I removed a custom post type using the "wp_sitemaps_post_types" filter but images attached to those CPT are still listed in the sitemap.

**Expected behavior**
I expect to remove all related content from a custom post type if I filter this CPT

[2020-09-08 08:51] swissspidy commented on #231
@al1138 Since this feature has been merged into WordPress core, please report this at http://core.trac.wordpress.org/

Note that this is working as designed though. The `wp_sitemaps_post_types` filter is for disabling sitemaps for a certain post type. It does not handle side effects like dealing with other content attached to that post type.

To omit certain attachments, use the `wp_sitemaps_posts

[2020-09-08 08:51] #231 closed, assigned to nobody